section.hero.is-light(id='footer-hero',style="text-align: center; ")
	.hero-body
		.container
			h2.subtitle
				strong Dashboard
				|  by 
				a(href='') Kashish Panwar
				| . 
				a(href='')  
				| . 
				|         
				a(href='') 
				| .

